<a href="https://colab.research.google.com/github/Tulipraaj/Crypto-Currency-Research/blob/main/BTC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [42]:
df = pd.read_csv("BTC_DATA.csv")

In [43]:
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1.629331e+09,45078.00,44558.50,44714.54,1337.53,59869116.98,45062.30,direct,NaN
1,1.629335e+09,45184.81,44886.98,45062.30,825.61,37196895.36,44964.06,direct,NaN
2,1.629338e+09,44964.06,44603.66,44964.06,891.77,39899338.14,44605.24,direct,NaN
3,1.629342e+09,44614.96,44065.95,44605.24,1755.79,77735458.00,44076.87,direct,NaN
4,1.629346e+09,44324.04,43982.21,44076.87,1447.59,63875253.19,44144.70,direct,NaN

In [44]:
df["time"] = pd.to_datetime(df["time"],unit='s')

In [45]:
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,2021-08-19 00:00:00,45078.00,44558.50,44714.54,1337.53,59869116.98,45062.30,direct,NaN
1,2021-08-19 01:00:00,45184.81,44886.98,45062.30,825.61,37196895.36,44964.06,direct,NaN
2,2021-08-19 02:00:00,44964.06,44603.66,44964.06,891.77,39899338.14,44605.24,direct,NaN
3,2021-08-19 03:00:00,44614.96,44065.95,44605.24,1755.79,77735458.00,44076.87,direct,NaN
4,2021-08-19 04:00:00,44324.04,43982.21,44076.87,1447.59,63875253.19,44144.70,direct,NaN

In [46]:
df.tail()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
32903,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32904,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32905,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32906,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32907,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
df.isna().sum()

time                20908
high                20908
low                 20908
open                20908
volumefrom          20908
volumeto            20908
close               20908
conversionType      20908
conversionSymbol    32903
dtype: int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32908 entries, 0 to 32907
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   time              12000 non-null  datetime64[ns]
 1   high              12000 non-null  float64
 2   low               12000 non-null  float64
 3   open              12000 non-null  float64
 4   volumefrom        12000 non-null  float64
 5   volumeto          12000 non-null  float64
 6   close             12000 non-null  float64
 7   conversionType    12000 non-null  object
 8   conversionSymbol  5 non-null      object
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 2.3+ MB

In [49]:
df.drop(df.tail(20907).index,inplace=True)

In [53]:
new_df = df.drop(['conversionType','conversionSymbol'],axis=1)

In [51]:
df.drop(df.tail(1).index,inplace=True)

In [54]:
new_df.tail()

,time,high,low,open,volumefrom,volumeto,close
11995,2022-12-31 19:00:00,16575.32,16558.58,16566.65,1706.73,28275078.07,16561.76
11996,2022-12-31 20:00:00,16564.56,16557.19,16561.76,1016.71,16835700.04,16558.93
11997,2022-12-31 21:00:00,16560.79,16540.06,16558.93,1434.99,23748498.06,16542.96
11998,2022-12-31 22:00:00,16556.14,16487.05,16542.96,2343.40,38718671.54,16513.48
11999,2022-12-31 23:00:00,16540.12,16489.61,16513.48,1565.81,25861336.28,16531.31

In [57]:
new_df.dtypes

time          datetime64[ns]
high                 float64
low                  float64
open                 float64
volumefrom           float64
volumeto             float64
close                float64
dtype: object